html {
    scroll-behavior: smooth;
}

section {
    width: 100%;
    overflow: hidden;
}

.hero {
    background-image: url('./img/hero-bg.jpg');
    background-size: cover;
    overflow: hidden;
}

.navbar.active {
    background-color: #00d1b2;
    transition: all .5s;
}

.active-class {
    background-color: #00b89c;
}

.navbar-item.scrollActive {
    background-color: #00b89c;
}

.g-text {
    color: hsl(171, 100%, 41%);
}